body {
    font-family: Roboto, sans-serif;
    color: #c1c1c1;
}

h1, h2, h3 {
    font-family: Roboto Condensed, sans-serif;
    color: #c1c1c1;
}

nav {
    display: flex;
    align-items: center;
    background-color: hsl(65, 100%, 54%);
}

nav > a {
    text-decoration: none;
    color: hwb(0 0% 0%);
    font-size: 32px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: hwb(0 0% 0%);
}