body {
    font-family: 'Silkscreen', cursive;
    color: #c1c1c1;
}


h1, h2, h3 {
    font-family: 'Silkscreen', cursive;
    color: #c1c1c1;

}


.botao {
    color: #c1c1c1;
    text-decoration: none;
    padding: 10px 30px;
    background-color: hsla(273, 100%, 50%, 0.478);
    font-size: 32px;
    font-family: .9em;
    border-radius: 9px;
}

nav {
    display: flex;
    align-items: center;
    background-color: hsl(242deg 100% 50% / 54%);
}

nav > a {
    text-decoration: none;
    color: hwb(0deg 100% 0%);
    font-size: 32px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: hwb(0deg 100% 0%);
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("avengers.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}




#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px 20px;
    background-color: hotpink;
    color: #ffffff;
}


#sobre h2{
    color: #ffffff;
}


#sobre p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}


#sobre .botao {
    background-color: #f1f1f1ff;
    color: #c1c1c1;
}

#video {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 100px;
}


form > input {
    flex: 1 1 10ch;
    margin: .5rem;
}


form > input[type="email"] {
    flex: 3 1 30ch;
    margin: .5rem;
}


input {
    border: none;
    background: hsl(0, 0%, 93%);
    border-radius: 10px;
    padding: .75rem 1rem;
}

input[type="submit"] {
    background: hotpink;
    color: #ffffff;
}


#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#contato h2 {
    color: #000000;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: hsl(242deg 100% 50% / 54%);
    color: hwb(0deg 100% 0%);
}